<html>

<head>
    <title>Paste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <form class="container-fluid container" action="/polls/" method="post">
        {% csrf_token %}
        <br />
        <h2>Create new paste</h2>
        <br />
        <div class="form-group ">
            <label for="exampleFormControlTextarea1 ">Title</label>
            <input class="form-control" type="text" placeholder="type paste title here" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Text</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="type paste text here"
                name="text" id="text"></textarea>
        </div>
        <div class="form-group">
            <label>date</label>
            <input class="form-control" type="date" name="date" placeholder="type paste date here" id="date">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-dark">Retrive</button>

    </form>
    <form class="container-fluid container" method="get">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Search" id="id" name="id" value={{id}}>
        </div>
        <button type="submit" class="btn btn-warning">Show</button>
        <button type="button" class="btn btn-danger">Delete</button>
    </form>
    <div class="container">

            {% csrf_token %}
            <br />
            <h2>searched item content</h2>
            <br />
        <div class="form-group ">
            <label for="exampleFormControlTextarea1 ">Title</label>
            <label class="form-control">{{result.title}}</label>
        </div>
        <div class="form-group ">
            <label for="exampleFormControlTextarea1 ">Text</label>
            <label class="form-control">{{result.text}}</label>
        </div>
        <div class="form-group ">
            <label for="exampleFormControlTextarea1 ">Date</label>
            <label class="form-control">{{result.date}}</label>
        </div>
    </div>
</body>

</html>